<% flash.each do |key, value| %>
  <%= value %>
<% end %>

<h1>New Bathroom Form</h1>

<%= form_for(@bathroom) do |f| %>
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address, "Address" %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city, "City" %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state, "State" %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :zip, "Zip" %><br>
    <%= f.text_field :zip %>
  </p>

  <p>
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Add Bathroom" %>
  </p>
<% end %>
